@import '../../../styles/variables';

.header {
  display: flex;
  background: $basic-white;
  padding: 12px 50px;
  align-items: center;
  border-bottom: 1px solid $gray-300;
  justify-content: space-between;

  &__bar {
    gap: 12px;
    width: 142px;
    height: 32px;
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: $border-radius;
      box-shadow: 0 2px 6px $border-color;
    }

    &__home {
      display: flex;
      align-items: center;
      width: 228px;
      height: 32px;
      gap: 40px;

      .name {
        font-weight: 500;
        font-size: $font-size;
        line-height: 24px;
      }

      .home {
        font-weight: 500;
        font-size: $font-size;
        line-height: $line-height;
        color: $gray-500;
      }
    }
  }

  .login-btn {
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    background: transparent;
    border-radius: $border-radius;

    font-weight: 500;
    font-size: $font-size;
    line-height: 24px;
    color: #667085;
  }


  &__actions-logged-in {
    display: flex;
    align-items: center;
    gap: 5px;

    .search-container {
      position: relative;

      .search-input {
        width: 320px;
        padding: 10px 16px 8px 40px;
        border: 1px solid $gray-300;
        border-radius: $border-radius;
        font-size: $font-size;
        line-height: 24px;
        background: url('/assets/search.jpg') no-repeat 12px center;
        background-size: 17px 17px;

        &::placeholder {
          color: $gray-400;
        }
      }
    }

    .cart-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: $gray-700;

      .cart-icon {
        height: 24px;
        width: 24px;
      }

      .cart-count {
        background-color: #41CCCC;
        position: absolute;
        top: -2px;
        right: 2px;
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #344054;
        font-size: 10px;
        font-weight: 400;
        border-radius: $border-radius;
        border: 2px solid white;
      }
    }

    .account-btn {
      padding: 10px 18px 10px 0;
      border: none;
      cursor: pointer;
      background: transparent;
      border-radius: $border-radius;
      font-weight: 500;
      font-size: $font-size;
      line-height: 24px;
      color: #667085;
    }
  }
}
